pandas==1.5.3
scikit-image==0.25.2
opencv-python==4.11.0.86
segment-anything==1.0
sam2==1.1.0
pycocotools==2.0
torch==2.6.0
torchvision==0.21.0
transformers==4.50.0
tqdm==4.65.2
Pillow==9.4.0
numpy==1.23.5
matplotlib==3.6.1
fvcore==0.1.5.post20221221
cloudpickle==3.1.2
omegaconf==2.3.0
Markdown==3.10.2
openai==2.34.0

